# Title

## 1.0 Introduction

## 2.0 Data Description

### 2.1 Exploratory Data Analysis

## 3.0 Model Search Framework

## 4.0 Feature Engineering

## 5.0 Results

In [1]:
from src.s01_train_test_split import do_train_test_split

do_train_test_split()

Sampling Frequency = 5

### 5.1 Experiment 1

In [2]:
from src.s02_prepare_data import prepare_data
from src.s04_build_models import build_models

exp_yml_name = 'experiments/exp_01.yml'
prepare_data(exp_yml_name, training=True)
exp1_scores, exp1_top_scores = build_models(exp_yml_name)
print("Top 3 classifiers")
exp1_top_scores

Top 3 classifiers

,classifier,preprocess,transform,accuracy,balanced_accuracy,f1_score
0,knn,none,none,100.0,1.0,1.0
1,random_forest,none,none,100.0,1.0,1.0
2,knn,min_max,none,99.99738096485254,0.9999752940013836,0.999973809370695

### 5.2 Experiment 2

In [3]:
exp_yml_name = 'experiments/exp_02.yml'
prepare_data(exp_yml_name, training=True)
exp2_scores, exp2_top_scores = build_models(exp_yml_name)
print("Top 3 classifiers")
exp2_top_scores

Top 3 classifiers

,classifier,preprocess,transform,accuracy,balanced_accuracy,f1_score
0,random_forest,standard_scalar,none,56.54793085385018,0.486838392728484,0.5246877056022392
1,knn,none,none,53.8108957569408,0.48286852593996654,0.5343482773353966
2,gradboost,min_max,none,56.469355683603986,0.47624158528862964,0.5391106776392328

### 5.3 Experiment 3

In [4]:
exp_yml_name = 'experiments/exp_03.yml'
prepare_data(exp_yml_name, training=True)
exp3_scores, exp3_top_scores = build_models(exp_yml_name)
print("Top 3 classifiers")
exp3_top_scores

Top 3 classifiers

,classifier,preprocess,transform,accuracy,balanced_accuracy,f1_score
0,random_forest,min_max,none,48.0529697128622,0.43257228095156863,0.4493202118288043
1,adaboost,min_max,pca,45.692933001180016,0.42627214070929803,0.4275977618052473
2,gradboost,min_max,pca,46.112495083256846,0.423425329118613,0.44434970820119657

### 5.4 Experiment 4

In [5]:
exp_yml_name = 'experiments/exp_04.yml'
prepare_data(exp_yml_name, training=True)
exp4_scores, exp4_top_scores = build_models(exp_yml_name)
print("Top 3 classifiers")
exp4_top_scores

Top 3 classifiers

,classifier,preprocess,transform,accuracy,balanced_accuracy,f1_score
0,random_forest,standard_scalar,isomap,17.46031746031746,0.2888033019611967,0.19439393502187016
1,adaboost,standard_scalar,lle,17.46031746031746,0.28663003663003667,0.1703493874546506
2,xgboost,none,lle,15.873015873015872,0.28305028305028307,0.19296536796536792

### 5.5 Experiment 5

In [6]:
exp_yml_name = 'experiments/exp_05.yml'
prepare_data(exp_yml_name, training=True)
exp5_scores, exp5_top_scores = build_models(exp_yml_name)
print("Top 3 classifiers")
exp5_top_scores

Top 3 classifiers

,classifier,preprocess,transform,accuracy,balanced_accuracy,f1_score
0,random_forest,none,isomap,22.22222222222222,0.33699633699633696,0.22882877430807713
1,adaboost,min_max,none,14.814814814814813,0.2652014652014652,0.15775630703166937
2,random_forest,standard_scalar,lle,14.814814814814813,0.26167166167166167,0.13288207893471052

### 5.6 Comparison

## 6.0 Conclusion

# Appendix

## A. Experiment 1

## B. Experiment 2

## C. Experiment 3

## D. Experiment 4

## E. Experiment 5